
@media only screen and (orientation: landscape) {
    /* For wide screens: */

    #calculator_container {
        border: 0.5vh solid rgba(0,0,0,0.5);
        border-right: 0px solid black;
    }

    #history_container {
        border-top: 0.5vh solid rgba(0,0,0,0.5);
        border-bottom: 0.5vh solid rgba(0,0,0,0.5);
    }
    
    .history_btn_container {
        border: 0.5vh solid rgba(0,0,0,0.53);
        border-left: 0vh solid white;
    }
}

/* Light Theme */
body {
    background: none;
    /* background-color: #ffffff; */

    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}


.output_container {
    color: gold;
    background-color: rgba(0,0,0,0.4);
}

#display {
    color: black;
    background-color: rgba(0,0,0,0.3);
}

.history_formula {
    color: black;
}

.history_answer {
    color: black;
}

.history_cell {
    background: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.history_cell_top_spacer {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 55%, rgba(255,255,255,0) 95%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 55%, rgba(255,255,255,0) 95%);
    background: linear-gradient(90deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 55%, rgba(255,255,255,0) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.history_cell:hover {
    background: none;
    background-color: rgba(0, 0, 0, 0.3);
}


.history_cell:hover .history_answer {
    color: white;
}

.history_cell:hover .history_formula {
    color: white;
}

button {
    background-color: rgba(0,0,0,0.6);
}

#btn_clear {
    background-color: rgba(0, 0, 0, 0.75);
}

#display_append {
    background-color: rgba(255,215,0,0.550);
}

#display_append:hover {
    background-color: rgba(255,215,0,0.550);
    color: black;
}

#theme_toggle {

    background-color: rgba(255,255,255,0.70);
    border: 0.45vh solid rgba(0, 0, 0, 0.6);
    border-radius: 40%;

    transition: background-color,border 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#theme_toggle:hover {
    background-color: rgba(255,255,255,1);
    border: 0.7vh solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}
