body{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ecae6;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr repeat(7, 1fr);
    width: max(60%,400px);
    height: max(70%,400px);
    font-size: xxx-large;
}

.output_container {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: orange;
    display: grid;
}

.output_display {
    
    width: 100%;
    height: 100%;
    display: flex;
    color: #023047;
    font-size: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.output_grayed {
    opacity: 60%;
}

.output_incorrect {
    color: red;
}

#display {
    
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    border: #023047 2px solid;
    margin: 2px;
    justify-content: right;

    text-align: right;
    color: #023047;
}

#display_equals{
    text-align: center;
}

button {
    color: #fb8500;
    background-color: azure;
    font-size: xxx-large;
    /* border-radius: 50%; */
    border-color: #023047;
    border-width: 2px;
    margin: 2px;
}

.double_button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#btn_0 {
    grid-column-start: 1;
    grid-column-end: 3;
}
