* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

#calculator_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr repeat(6, 1fr);
}

#history_container {
    height: 0%;
    overflow-y: scroll;
    display: flex;
    flex-flow: column-reverse;
    transition: height 100ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

#history_toggle {
    border-radius: 0px;
}

.output_container {
    border-radius: 1vh;
    margin: 1px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
}

.output_display {
    width: 100%;
    height: 100%;
    font-size: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

::selection {
    background-color: #999999;
}

.output_grayed {
    opacity: 60%;
}

#display {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: right;
    font-size: 5vh;
    padding-right: 2vw;

    /*  */
    display: flex;
    align-items: center;
    justify-content: right;

}

button {
    border-radius: 1vh;
    font-size: 5vh;
    border-width: 0px;
    margin: 1px;
    transition: filter 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

button:hover {
    filter: brightness(90%);
}

button:active {
    filter: brightness(75%);
}

button:focus {
    outline: none;
}

#display_equals{
    text-align: center;
}

.double_button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#btn_0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.history_cell {
    margin-left: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: filter 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.history_cell:hover {
    filter: brightness(90%);
}

.history_cell:active {
    filter: brightness(75%);
}

.history_cell_top_spacer {
    width: 100%;
    height: 2px;
}

.history_formula {
    margin: 0.5vh 0.5vw;

    display: flex;
    align-items: center;
    font-size: 2vh;
    justify-content: left;

    overflow: hidden;
    user-select: none;
}

.history_answer {
    margin: 0.5vh 0.5vw;

    display: flex;
    justify-content: right;
    text-align: center;
    font-size: 3vh;
}

#history_toggle_btn {
    /* margin: 1px 1px 1px 1px; */
    border: 1px solid #eaeaea;
    margin: 0px 0px 2px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
    /* border: 1px solid #444444; */
    /* background-color: #ccc; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

#theme_toggle {
    width: 5vh;
    height: 5vh;
    top: 0.5vh;
    right: 0.5vh;
    border-radius: 1.5vh;
    position: absolute;
    background-color: orange;
}

@media only screen and (orientation: landscape) {
    /* For wide screens: */

    body {
        display: flex;
        justify-content: center;
        align-items: center;

        background: rgb(0,0,0);
        background: -moz-linear-gradient(159deg, rgba(0,0,0,1) 0%, rgba(20,20,133,1) 66%, rgba(15,15,66,1) 99%);
        background: -webkit-linear-gradient(159deg, rgba(0,0,0,1) 0%, rgba(20,20,133,1) 66%, rgba(15,15,66,1) 99%);
        background: linear-gradient(159deg, rgba(0,0,0,1) 0%, rgba(20,20,133,1) 66%, rgba(15,15,66,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0f0f42",GradientType=1);
        
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    #container {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .output_container {
        color: gold;
        border: 0.3vh solid rgba(255,255,255,0.3);
        background-color: rgba(255,255,255,0.2);
        border-radius: 1vh;
        margin-bottom: 0.4vh;
    }
        
    #display {
        color: white;
        background-color: rgba(255,255,255,0.10);
        border-radius: 1vh;
        margin: 0.5vh;
    }

    #calculator_container {
        width: 60vh;
        height: 100%;
        order: 1;
    
        border: 0.5vh solid rgba(255,255,255,0.5);
        border-right: 0px solid white;
        padding: 1vh;
        border-radius: 2vh 0px 0px 2vh;
    }

    button {
        color: white;
        background-color: rgba(0,0,0,0.45);

        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    #history_container {
        height: 100%;
        width: 0%;
        order: 2;
        transition: width 100ms cubic-bezier(0.215, 0.610, 0.355, 1);
        overflow-x: hidden;

        border-top: 0.5vh solid rgba(255,255,255,0.5);
        border-bottom: 0.5vh solid rgba(255,255,255,0.5);
    }

    .history_cell {
        flex-direction: column;
        
        
        
        background: rgb(0,0,0);
        background: -moz-radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 27%, rgba(0,0,0,0.25) 48%, rgba(255,255,255,0) 100%);
        background: -webkit-radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 27%, rgba(0,0,0,0.25) 48%, rgba(255,255,255,0) 100%);
        background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 27%, rgba(0,0,0,0.25) 48%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);

    }

    .history_formula {
        /* padding: 0vh 1vh; */
        color: white;
    }

    .history_answer {
        /* padding: 0vh 1vh; */
        color: white;
    }

    .history_cell_top_spacer {


        background: rgb(255,255,255);
        background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 15%, rgba(255,255,255,0.5) 55%, rgba(255,255,255,0) 95%);
        background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 15%, rgba(255,255,255,0.5) 55%, rgba(255,255,255,0) 95%);
        background: linear-gradient(90deg, rgba(255,255,255,0) 15%, rgba(255,255,255,0.5) 55%, rgba(255,255,255,0) 95%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

        

    }

    .history_btn_container {
        height: 100%;
        order: 3;
        
        border: 0.5vh solid rgba(255,255,255,0.53);
        border-left: 0vh solid white;
        border-radius: 0px 2vh 2vh 0px;
    }

    #history_toggle_btn {
        margin: 1vh 1vh 1vh 0px;
        height: 97.5%;
        border: 0px solid black;
    }

}
