/* 
Primary
- Most elements are painted with this

Secondary
- very few elements are painted with this

Highlight
- Brigtest color

Text 1
- Should be visible on primary and highlight

Text 2
- Should be visible on secondary
*/

/* light */
.theme_primary_4 {
    background-color: aqua;
}
    
.theme_secondary_4 {
    background-color: yellow;
}

.theme_highlight_4 {
    background-color: green;
}

.theme_primary_text_4 {
    color: orange;
}
    
.theme_secondary_text_4 {
    color: red;
}
